* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}



body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dfca14;
}

.calculator {
  background: #1e1e2f;
  padding: 20px;
  border-radius: 15px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.display input {
  width: 100%;
  height: 60px;
  background: #111;
  color: #fff;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 18px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #2d2d44;
  color: #fff;
  transition: 0.2s;
}

button:hover {
  background: #3e3e5e;
}

.equals {
  grid-row: span 2;
  background: #ff9500;
}

.equals:hover {
  background: #e08900;
}

.zero {
  grid-column: span 2;
}

.clear {
  background: #ff3b3b;
}

.del {
  background: #5c5cff;
}

.background-text {
  position: absolute;
  top: 20px; /* pushes it to the top */
  left: 350px;
  transform: translateX(-50%);
  font-size: 3rem;
  font-weight: bold;
  color: #5c5cff;
  text-transform: uppercase;
  letter-spacing: 4px;
  z-index: 0;
  pointer-events: none; /* so it never blocks clicks */
}

.calculator {
  position: relative;
  z-index: 1;
}

footer {
  padding: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}